/* fontfamliy */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

/* borders */
.red {
  border: 1px solid red;
}

.green {
  border: 1px solid green;
}

.yellow {
  border: 1px solid yellow;
}

.black {
  border: 1px solid black;
}




:root {
  --color-primary-blue: #0324cb;
  --color-primary-dark-blue: #031274;
  --color-primary-lighter-blue-alpha: rgba(77, 102, 233, .5);
  --color-primary-lighter-blue: #4d66e9;
  --color-dark: #000000;
  --color-white: #ffffff;
  --color-light: #F4F4F4;
  --border-radius-h: 53px;
  --border-radius-1: 5px;
  --box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  --background-opacity: 0.5
}

/* body */
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(180deg, rgba(3, 18, 116, 0.8) 0%, rgba(40, 103, 178, 0.8) 100%), url("../images/background.jpg");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}

h1 {
  font-size: 18px;
  font-weight: 400;
}

h2 {
  font-size: 16px;
  font-weight: 400;
}

/* navbar styling */
.pack-header .navbar {
  background-color: var(--color-dark) !important;
}

.pack-header .navbar img {
  border-radius: var(--border-radius-1);
}

.pack-header .navbar a {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 400;
  /* font-family: 'poppins'; */
  line-height: 24px;
}


/* main section */
.pack-body {
  margin-top: 50px;
}

.pack-body .tab-content {
  margin-top: 30px;
}

/* nav links */
.pack-body .nav-pills .nav-link {
  border-radius: var(--border-radius-h);
  background-color: transparent;
  color: var(--color-white);
  border: 1px solid var(--color-light);
  padding: 10px 40px;
  text-transform: uppercase;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

}

.pack-body .nav-pills .nav-link.active,
.pack-body .nav-pills .show>.nav-link {
  background-color: var(--color-light);
  color: var(--color-primary-lighter-blue);
}

/* pack generator right section  */
.card-section {
  padding-right: 35px !important;
}

.card-section .card {
  border-radius: var(--border-radius-1);
  background: var(--color-primary-lighter-blue-alpha);
  color: white;
  text-transform: uppercase;
  padding-left: 30px;
  padding-right: 50px;
  /* opacity: 0.5; */
  /* padding-top: 50px; */
  /* padding-bottom: 50px; */
  /* padding:50px 20px; */
}

.card-section .card .card-title {
  /* width: 100%; */
  font-size: 18px;
}

/* Rounded sliders */
.card-section .switch {
  position: relative;
  display: inline-block;
  height: 31px;
}

.card-section .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.card-section .slider {
  border: 1px solid var(--color-light);
  position: absolute;
  width: 50px;
  height: 26px;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: .4s;
  transition: .4s;
}

.card-section .slider:before {
  position: absolute;
  content: "";
  height: calc(100% - 5px);
  top: 50%;
  width: 26px;
  left: 3px;
  right: 3px;
  transform: translate(0, -50%);
  background-color: var(--color-primary-dark-blue);
  -webkit-transition: .4s;
  transition: .4s;
}

.card-section input:checked+.slider {
  background-color: transparent;
}

.card-section input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

.card-section input:checked+.slider:before {
  transform: translate(62%, -50%);
  -ms-transform: translate(62%, -50%);
  -webkit-transform: translate(62%, -50%);
}

.card-section .slider.round {
  border-radius: 20px;
}

.card-section .slider.round:before {
  border-radius: 20px;
}

/* range  */
.card-section .rangeContainer {
  width: 100%;
  border: 1px solid var(--color-light);
  border-radius: 18px;
  height: 26px;
}

.card-section .range {
  position: relative;
  -webkit-appearance: none;
  margin: 3px 0px 0px 3px;
  width: 96%;
  height: 18px;
  background: linear-gradient(90deg, rgb(244, 244, 244) 5%, var(--color-primary-lighter-blue-alpha)5%);
  --webkit-transform: 0.2s;
  transition: .2s;
  cursor: pointer;
  outline: none;
  border-radius: 12px;
}

.card-section .range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  align-self: center;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--color-primary-dark-blue);
  border-radius: 50%;
}

.card-section .range::-moz-slider-thumb {
  align-self: center;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--color-primary-dark-blue);
  border-radius: 50%;
}

/* font sizes */
.card-section .btn-font {
  position: relative;
  color: var(--color-white);
  background: transparent;
  border: none;
  font-size: 18px;
}

.card-section .btn-font-sm {
  font-size: 14px;
}

.card-section .btn-font i {
  position: absolute;
  bottom: 3px;
  vertical-align: baseline;
  color: var(--color-white);
  font-size: 10px;
}

.card-section .btn-font i.fa-caret-down {
  bottom: 5px;
}

/* size */
#size {
  color: var(--color-light);
  width: 50px;
  background: transparent;
  border: 1px solid var(--color-light);
  outline: none;
  border-radius: var(--border-radius-1);
}

/* right section */
.right-section {
  border: 2px solid var(--color-primary-dark-blue);
  border-radius: var(--border-radius-1);
}

.scroll-view {
  overflow-y: scroll;
  scrollbar-width: thin;
  color: var(--color-white);
  height: calc(80vh - 150px);

}

.scroll-view::-webkit-scrollbar {
  /* position: absolute; */
  border-radius: 12px;
  width: 20px;
  /* margin: 42px; */
  /* padding: 5px; */
  offset-position: right 3em bottom 0px;
  /* background-color: transparent; */
  border: 2px solid var(--color-primary-dark-blue);
}

.scroll-view::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
  background-clip: content-box;
  border-radius: 12px;
  background-color: #4D66E9;
}

/* cursed images section */
#pills-profile p {
  color: var(--color-light);
  font-style: italic;
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  text-align: center;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px
}

.gallery-container img {
  height: 225px;
  flex-grow: 1;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, .25);
}

/* ideas page */
.search-div {
  width: 100%;
}

.search {
  font-style: italic;
  font-size: 12px;
  width: 100%;
  font-weight: 300;
  color: var(--color-light);
  background: transparent;
  border: 1px solid var(--color-light);
  padding: 10px;
  border-radius: 50px;
  outline: none;
}

.search::placeholder {
  color: var(--color-light);
}

/* pack builder */
#pills-builder .card p {
  font-size: 12px;
  line-height: 24px;
  color: var(--color-light);
  font-style: italic;
  font-weight: 300;
  text-transform: none;
}

#pills-builder .card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#pills-builder .card-body .card-section .card  {
  width: 100%;
}

/* *********************************************************************************************************************** */
/* 4k screens */
@media screen and (min-width: 2000px) {

  /* top tab contents */
  .pack-body .nav-pills .nav-link {
    padding: 20px 50px;
    font-size: 24px;

  }

  /* left section 1st */
  .card-section .card {
    padding: 20px 25px;
  }

  .card-section .card .card-title {
    font-size: 22px;
    padding-bottom: 40px !important;
  }

  /* right-section */
  .scroll-view {
    height: calc(50vh);
  }



}

/* ********************************************************************************************************************** */
/* laptop screens 1440*/
@media screen and (max-width: 1440px) {

  /* main section */
  .pack-body {
    margin-top: 20px;
  }

  /* tab-contents */
  .pack-body .tab-content {
    margin-top: 20px;
  }

  /* pack generator left section  */

  .card-section .card {
    padding-left: 25px;
    padding-right: 50px;
  }

  /* input size */
  #size {
    font-size: 14px;
    margin-left: 30px !important;
    width: 40px;
    height: 22px;
  }

  /* right-section */
  .scroll-view {
    height: calc(80vh - 100px);
  }

}

/* ****************************************************************************************************************** */
/* big upto 1024px */
@media screen and (max-width: 1024px) {

  /* main section */
  .pack-body {
    margin-top: 25px;
  }

  /* tab-contents */
  .pack-header .tab-content {
    margin-top: 20px;
  }


  /* left section 1st */
  .card-section .card {
    padding-left: 20px;
    padding-right: 20px;
  }

  .card-section .card .card-title {
    font-size: 15px;
  }

  /* input size */
  #size {
    margin-left: 30px !important;
  }

  /* right-section */
  .scroll-view {
    height: calc(80vh - 150px);
  }

}

/* ******************************************************************************************************************* */
/* tablet screen  768px*/
@media screen and (max-width: 768px) {
  
/* right-section */
.scroll-view {
  height: calc(50vh - 20px);
}
#pills-profile .scroll-view {
  height: calc(65vh - 20px);
}
#ideas .scroll-view  {
  height: calc(50vh - 50px);
}
#pills-builder .scroll-view{
  height: calc(50vh - 50px);
}

  .scroll-view::-webkit-scrollbar {
    width: 13px !important;
  }

  /* card */
  .card-section {
    padding-right: 0px !important;
  }

  .card-section .card {
    padding: 0px;
  }


  #size {
    margin-left: 15px !important;
  }
}

/* ******************************************************************************************************************** */
/* for mobiles 576px */
@media screen and (max-width: 576px) {
  body {
    height: 100%;
    padding-bottom: 20px;
  }
  /* nav contents */
  .pack-body .nav-pills .nav-item {
    width: 200px;
  }

  .pack-body .nav-pills .nav-link {
    padding: 15px 0px;
    border-radius: 0;
    width: 100%;
    font-size: 16px;
  }

  /* left section */
  .card-section {
    padding-right: 8px !important;
    padding-left: 8px !important;
  }

  .card-section .card-title {
    font-size: 16px;
  }

  /* radio button switch */
  .switch {
    width: 60px;
    height: 24px;
  }

  .slider {
    width: 65px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .slider:before {
    height: 16px;
    top: 50%;
    width: 28px;
    left: 4px;
  }

  input:checked+.slider:before {
    transform: translate(100%, -50%)!important;
    -ms-transform: translate(100%, -50%);
    -webkit-transform: translate(100%, -50%);
  }

  /* range  */
  .card-section .rangeContainer {
    width: 100%;
    height: 24px;
  }

  .range {
    width: 96%;
    height: 16px;
    margin: 2px 0 0 2px!important;
  }


  .range::-webkit-slider-thumb {
    width: 16px;
    height: 16px;
  }

  .range::-moz-slider-thumb {
    width: 16px;
    height: 16px;
  }
  #pills-profile .scroll-view {
    height: calc(66vh - 20px);
  }
  #ideas .scroll-view  {
    height: calc(60vh - 50px);
  }


  .scroll-view {
    overflow: hidden scroll;
    text-align: start;
    font-size: 14px;
    height: calc(80vh - 320px);
  }
}